@page
@model LearnIndexModel
@{
    ViewData["Title"] = "Learn";
}

<div class="container py-5">
    <h1 class="mb-4">Learn</h1>
    <ul>
        <li><a href="/Learn/Kaufmannseigenschaften">Kaufmannseigenschaften</a></li>
        <li><a href="/Learn/Firmengrundsaetze">Firmengrundsaetze</a></li>
        <li><a href="/Learn/FirmaUndFirmengrundsaetze">FirmaUndFirmengrundsaetze</a></li>
    </ul>
</div>
